{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">

                <br><input type="text" name="name" placeholder="Movie Name" class="rounded"><br>
                <br><input type="text" name="desc" placeholder="Movie Description" class="rounded"><br>
                <br><input type="text" name="year" placeholder="Movie Year" class="rounded"><br>

                <br><input type="file" name="img" class="rounded"><br>
                <br><input type="submit" placeholder="Add Movie" class="btn btn-primary">
        </div>



</form>
{% endblock %}